$light-green: #d7efee;
$medium-green: #03a87c;
$dark-green: #03916b;
$red: #a82700;

$dark-gray: #444444;
$medium-dark-gray: #888888;
$medium-gray: #aaaaaa;
$light-gray: #cccccc;
$lightest-gray: #eeeeee;
