#cf-body {
  max-width: 575px;
  min-height: 40px;
  background-color: #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cf-input {
  display: flex;
  flex: 1;
}

.cf-header {
  color: $medium-dark-gray;
}

.cf-err {
  height: 75px;
}

.cf-flex-parent {
  display: flex;
  flex-direction: column;
}

.cf-flex-1,
.cf-flex-2,
.cf-flex-3 {
  display: flex;
  flex: 1;
}

.cf-body-container {
  min-height: 140px;
}
