.header {
  margin: 0 auto;
  font-family: $sans-serif;
  font-size: 14px;
  max-width: 1000px;
  padding: 0 20px;
}

.header-container {
  height: 65px;
  width: 100%;
  border-bottom: 1px solid $lightest-gray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-flex-0 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-flex-1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-flex-2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header a:hover {
  cursor: pointer;
}

.header-about {
  color: $medium-gray;
}

.header-about:hover {
  color: $medium-dark-gray;
}

.header-link {
  font-family: $serif;
  font-size: 36px;
  font-weight: 700;
}

.session-form-label {
  font-family: $sans-serif;
  font-weight: 300;
  color: $medium-gray;
}

.signin-signup {
  display: flex;
  font-family: $sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: $medium-green;
}

.signin-signup a {
  padding: 10px 20px;
}

.signin-signup a:hover {
  color: $dark-green;
}

.signin-signup-2:hover {
  border-color: $dark-green;
}

.signin-signup-2 {
  border: 1px solid $medium-green;
  border-radius: 5px;
}

.header-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-group-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-group-2-a {
  flex: 1;
  display: flex;
}

.header-group-2-b {
  flex: 1;
  display: flex;
}

.header-group-2-b:hover,
.header-username:hover {
  color: $dark-green;
  cursor: pointer;
}

.header-username {
  padding: 5px 25px;
  font-weight: 300;
  color: $medium-dark-gray;
}

.sf-header-flex-2-err {
  box-sizing: border-box;
  height: 100px;
  padding: 20px 0;
}

.sf-err-list {
  padding: 10px 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.sf-err-list li {
  border: 1px solid $light-gray;
  border-radius: 2px;
  background-color: $off-white;
  color: $red;
  font-style: italic;
  margin: 0 auto;
  padding: 5px 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 120%;
  // border-bottom: 1px solid $light-gray;
}

// .sf-err-list li:last-child {
//   border-top: none;
// }
