// @import "../base/fonts.scss"

.header {
  margin: 0 auto;
  font-family: $sans-serif;
  font-size: 14px;
  // border: 1px solid #000;
  max-width: 1000px;
  padding: 0 20px;
}

.header-container {
  height: 65px;
  width: 100%;
  border-bottom: 1px solid $lightest-gray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-flex-0 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-flex-1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-flex-2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-about {
  color: $medium-gray;
}

.header-link {
  font-family: $serif;
  font-size: 36px;
  font-weight: 700;
}


.session-form-label {
  font-family: $sans-serif;
  font-weight: 300;
  color: $medium-gray;
}

.signin-signup {
  display: flex;
  font-family: $sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: $medium-green;
}

.signin-signup a {
  padding: 10px 20px;
}

.signin-signup-2 {
  border: 1px solid $medium-green;
  border-radius: 5px;
}

.header-group {
  display: flex;
  flex-direction: column;
}
