.article-text {
  font-family: $article;
  font-weight: 300;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  white-space: pre-wrap;
}

.article-text-container,
.article-title {
  max-width: 700px;
  width: 100%;
}

.article-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-flex-child {
  display: flex;
}

.article-img {
  max-height: 400px;
  max-width: 1150px;
  height: 400px;
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.article-img img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
