.sii-title {
  font-weight: 700;
  font-size: 18px;
  margin: 0 auto;
}

body {
  font-family: $sans-serif;
  font-size: 14px;
}

.story-index-item-container-1 {
  border: 1px solid $light-gray;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.story-index-item-flex-1 {
  border-right: 1px dashed #eee;
  flex: 2;
  display: flex;
}

.story-index-item-flex-2 {
  // border: 1px dashed red;
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.placeholder-txt {
  color: #ddd;
  padding: 10px;
}

.story-index-item-header-1 {
  // border: 1px dashed blue;
  flex: 1;
  overflow: hidden;
}

.story-index-item-article-1 {
  // border: 1px dashed blue;
  flex: 2;
  display: flex;
  color: $medium-gray;
  font-style: italic;
}

.story-index-item-footer-1 {
  // border: 1px dashed blue;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.story-index-item-user-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-index-item-user-img:hover {
  color: $dark-green;
}

.story-index-item-user-details {
  flex: 3;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.story-index-item-user-link {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding: 5px;
}

.user-link:hover {
  text-decoration: underline;
}

.story-index-item-user-date {
  flex: 1;
  display: flex;
  color: $medium-gray;
  align-items: flex-start;
  padding: 5px;
}

.sii-spacer {
  width: 280px;
}

.story-control-group {
  position: relative;
  left: 137px;
  bottom: 13px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid $light-gray;
  border-left: none;
  border-radius: 2px;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 125px;
  height: 100%;
  min-height: 75px;
}

.sc-flex-child {
  display: flex;
  flex: 1;
}

.sc-link {
  display: flex;
  // border: 1px dashed blue;
  align-items: center;
  padding: 0px 15px;
  width: 100%;
}

.sc-link:hover {
  cursor: pointer;
  background-color: $light-gray;
}

.sc-link-delete:hover {
  border: 1px solid $red;
  background-color: $red;
  color: #eee;
}
